<a href="https://colab.research.google.com/github/Khushkataruka/Machine-Learning-SVNIT/blob/main/ML_LAB2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [318]:
import pandas as pd
import numpy as np

In [319]:
df=pd.read_csv('faa_ai_prelim.csv')
df2=df.copy()

In [320]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   UPDATED              83 non-null     object
 1   ENTRY_DATE           83 non-null     object
 2   EVENT_LCL_DATE       83 non-null     object
 3   EVENT_LCL_TIME       83 non-null     object
 4   LOC_CITY_NAME        83 non-null     object
 5   LOC_STATE_NAME       83 non-null     object
 6   LOC_CNTRY_NAME       2 non-null      object
 7   RMK_TEXT             83 non-null     object
 8   EVENT_TYPE_DESC      83 non-null     object
 9   FSDO_DESC            81 non-null     object
 10  REGIST_NBR           83 non-null     object
 11  FLT_NBR              6 non-null      object
 12  ACFT_OPRTR           7 non-null      object
 13  ACFT_MAKE_NAME       78 non-null     object
 14  ACFT_MODEL_NAME      79 non-null     object
 15  ACFT_MISSING_FLAG    0 non-null      float64
 16  ACFT_DMG_DESC        74 non-null     object
 17  FLT_ACTIVITY         13 non-null     object
 18  FLT_PHASE            82 non-null     object
 19  FAR_PART             1 non-null      float64
 20  MAX_INJ_LVL          19 non-null     object
 21  FATAL_FLAG           8 non-null      object
 22  FLT_CRW_INJ_NONE     64 non-null     float64
 23  FLT_CRW_INJ_MINOR    6 non-null      float64
 24  FLT_CRW_INJ_SERIOUS  1 non-null      float64
 25  FLT_CRW_INJ_FATAL    8 non-null      float64
 26  FLT_CRW_INJ_UNK      0 non-null      float64
 27  CBN_CRW_INJ_NONE     0 non-null      float64
 28  CBN_CRW_INJ_MINOR    0 non-null      float64
 29  CBN_CRW_INJ_SERIOUS  0 non-null      float64
 30  CBN_CRW_INJ_FATAL    0 non-null      float64
 31  CBN_CRW_INJ_UNK      1 non-null      float64
 32  PAX_INJ_NONE         17 non-null     float64
 33  PAX_INJ_MINOR        1 non-null      float64
 34  PAX_INJ_SERIOUS      3 non-null      float64
 35  PAX_INJ_FATAL        1 non-null      float64
 36  PAX_INJ_UNK          0 non-null      float64
 37  GRND_INJ_NONE        0 non-null      float64
 38  GRND_INJ_MINOR       0 non-null      float64
 39  GRND_INJ_SERIOUS     0 non-null      float64
 40  GRND_INJ_FATAL       0 non-null      float64
 41  GRND_INJ_UNK         1 non-null      float64
dtypes: float64(22), object(20)
memory usage: 27.4+ KB

In [321]:
empty_columns = df2.columns[df2.isnull().all()]
df2.drop(empty_columns, axis=1, inplace=True)

In [322]:
df2.dropna(thresh=10, axis=1, inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UPDATED           83 non-null     object
 1   ENTRY_DATE        83 non-null     object
 2   EVENT_LCL_DATE    83 non-null     object
 3   EVENT_LCL_TIME    83 non-null     object
 4   LOC_CITY_NAME     83 non-null     object
 5   LOC_STATE_NAME    83 non-null     object
 6   RMK_TEXT          83 non-null     object
 7   EVENT_TYPE_DESC   83 non-null     object
 8   FSDO_DESC         81 non-null     object
 9   REGIST_NBR        83 non-null     object
 10  ACFT_MAKE_NAME    78 non-null     object
 11  ACFT_MODEL_NAME   79 non-null     object
 12  ACFT_DMG_DESC     74 non-null     object
 13  FLT_ACTIVITY      13 non-null     object
 14  FLT_PHASE         82 non-null     object
 15  MAX_INJ_LVL       19 non-null     object
 16  FLT_CRW_INJ_NONE  64 non-null     float64
 17  PAX_INJ_NONE      17 non-null     float64
dtypes: float64(2), object(16)
memory usage: 11.8+ KB

In [323]:
df2.head()

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,REGIST_NBR,ACFT_MAKE_NAME,ACFT_MODEL_NAME,ACFT_DMG_DESC,FLT_ACTIVITY,FLT_PHASE,MAX_INJ_LVL,FLT_CRW_INJ_NONE,PAX_INJ_NONE
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,N61WB,BEECH,36,Unknown,NaN,UNKNOWN (UNK),Fatal,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,N705RP,VANS,RV7,Unknown,NaN,LANDING (LDG),NaN,1.0,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,N9563A,CESSNA,172,Minor,NaN,APPROACH (APR),NaN,1.0,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,N10CF,LANCAIR,235,Unknown,NaN,LANDING (LDG),NaN,1.0,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,N1530Y,CESSNA,172,Minor,NaN,LANDING (LDG),Minor,1.0,NaN

In [324]:
df2['EVENT_DATETIME'] = pd.to_datetime(df2['EVENT_LCL_DATE'] + ' ' + df2['EVENT_LCL_TIME'])
df2['ENTRY_DATE']=pd.to_datetime(df2['ENTRY_DATE'])
display(df2[['EVENT_LCL_DATE', 'EVENT_LCL_TIME', 'EVENT_DATETIME']].head())
df2.drop(['EVENT_LCL_DATE','EVENT_LCL_TIME'],axis=1,inplace=True)

/tmp/ipython-input-469412936.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2['EVENT_DATETIME'] = pd.to_datetime(df2['EVENT_LCL_DATE'] + ' ' + df2['EVENT_LCL_TIME'])
/tmp/ipython-input-469412936.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2['ENTRY_DATE']=pd.to_datetime(df2['ENTRY_DATE'])

  EVENT_LCL_DATE EVENT_LCL_TIME            EVENT_DATETIME
0      19-FEB-16      00:45:00Z 2016-02-19 00:45:00+00:00
1      18-FEB-16      23:55:00Z 2016-02-18 23:55:00+00:00
2      18-FEB-16      22:14:00Z 2016-02-18 22:14:00+00:00
3      18-FEB-16      17:10:00Z 2016-02-18 17:10:00+00:00
4      18-FEB-16      00:26:00Z 2016-02-18 00:26:00+00:00

In [325]:
df2.isnull().sum()

UPDATED              0
ENTRY_DATE           0
LOC_CITY_NAME        0
LOC_STATE_NAME       0
RMK_TEXT             0
EVENT_TYPE_DESC      0
FSDO_DESC            2
REGIST_NBR           0
ACFT_MAKE_NAME       5
ACFT_MODEL_NAME      4
ACFT_DMG_DESC        9
FLT_ACTIVITY        70
FLT_PHASE            1
MAX_INJ_LVL         64
FLT_CRW_INJ_NONE    19
PAX_INJ_NONE        66
EVENT_DATETIME       0
dtype: int64

In [326]:
df2.head()

,UPDATED,ENTRY_DATE,LOC_CITY_NAME,LOC_STATE_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,REGIST_NBR,ACFT_MAKE_NAME,ACFT_MODEL_NAME,ACFT_DMG_DESC,FLT_ACTIVITY,FLT_PHASE,MAX_INJ_LVL,FLT_CRW_INJ_NONE,PAX_INJ_NONE,EVENT_DATETIME
0,No,2016-02-19,MARSHVILLE,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,N61WB,BEECH,36,Unknown,NaN,UNKNOWN (UNK),Fatal,NaN,NaN,2016-02-19 00:45:00+00:00
1,No,2016-02-19,TAVERNIER,Florida,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,N705RP,VANS,RV7,Unknown,NaN,LANDING (LDG),NaN,1.0,NaN,2016-02-18 23:55:00+00:00
2,No,2016-02-19,TRENTON,New Jersey,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,N9563A,CESSNA,172,Minor,NaN,APPROACH (APR),NaN,1.0,NaN,2016-02-18 22:14:00+00:00
3,No,2016-02-19,ASHEVILLE,North Carolina,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,N10CF,LANCAIR,235,Unknown,NaN,LANDING (LDG),NaN,1.0,NaN,2016-02-18 17:10:00+00:00
4,No,2016-02-19,TALKEETNA,Alaska,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,N1530Y,CESSNA,172,Minor,NaN,LANDING (LDG),Minor,1.0,NaN,2016-02-18 00:26:00+00:00

In [327]:
extracted_attributes = df2[['ACFT_MAKE_NAME', 'LOC_STATE_NAME', 'ACFT_MODEL_NAME', 'RMK_TEXT', 'FLT_PHASE', 'EVENT_TYPE_DESC']]
display(extracted_attributes.head())

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident

In [328]:
df2['FLT_PHASE'].fillna(df2['FLT_PHASE'].mode()[0], inplace=True)

/tmp/ipython-input-3239824184.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['FLT_PHASE'].fillna(df2['FLT_PHASE'].mode()[0], inplace=True)

In [329]:
df2['EVENT_TYPE_DESC'].unique()

array(['Accident', 'Incident'], dtype=object)

In [330]:
df2.isnull().sum()

UPDATED              0
ENTRY_DATE           0
LOC_CITY_NAME        0
LOC_STATE_NAME       0
RMK_TEXT             0
EVENT_TYPE_DESC      0
FSDO_DESC            2
REGIST_NBR           0
ACFT_MAKE_NAME       5
ACFT_MODEL_NAME      4
ACFT_DMG_DESC        9
FLT_ACTIVITY        70
FLT_PHASE            0
MAX_INJ_LVL         64
FLT_CRW_INJ_NONE    19
PAX_INJ_NONE        66
EVENT_DATETIME       0
dtype: int64

In [331]:
df2.dropna(subset=['ACFT_MAKE_NAME','ACFT_MODEL_NAME'], inplace=True)
df2.isnull().sum()

UPDATED              0
ENTRY_DATE           0
LOC_CITY_NAME        0
LOC_STATE_NAME       0
RMK_TEXT             0
EVENT_TYPE_DESC      0
FSDO_DESC            2
REGIST_NBR           0
ACFT_MAKE_NAME       0
ACFT_MODEL_NAME      0
ACFT_DMG_DESC        8
FLT_ACTIVITY        64
FLT_PHASE            0
MAX_INJ_LVL         59
FLT_CRW_INJ_NONE    18
PAX_INJ_NONE        62
EVENT_DATETIME       0
dtype: int64

In [332]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 0 to 82
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UPDATED           77 non-null     object
 1   ENTRY_DATE        77 non-null     datetime64[ns]
 2   LOC_CITY_NAME     77 non-null     object
 3   LOC_STATE_NAME    77 non-null     object
 4   RMK_TEXT          77 non-null     object
 5   EVENT_TYPE_DESC   77 non-null     object
 6   FSDO_DESC         75 non-null     object
 7   REGIST_NBR        77 non-null     object
 8   ACFT_MAKE_NAME    77 non-null     object
 9   ACFT_MODEL_NAME   77 non-null     object
 10  ACFT_DMG_DESC     69 non-null     object
 11  FLT_ACTIVITY      13 non-null     object
 12  FLT_PHASE         77 non-null     object
 13  MAX_INJ_LVL       18 non-null     object
 14  FLT_CRW_INJ_NONE  59 non-null     float64
 15  PAX_INJ_NONE      15 non-null     float64
 16  EVENT_DATETIME    77 non-null     datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(2), object(13)
memory usage: 10.8+ KB

# Task
Analyze the dataset "investigation.csv" by performing the following steps: select columns with only null values, remove columns with less than 10 non-null values, convert date and time columns to a single datetime object, extract specific attributes (Aircraft make name, State name, Aircraft model name, Text information, Flight phase, Event description type, Fatal flag), drop rows with missing aircraft names, check the number of observations, group the dataset by aircraft name, and count the occurrences of each aircraft type.

## Check the number of observations

### Subtask:
Display the current number of rows in the dataframe to compare it with the original dataset.

**Reasoning**:
Display the number of rows and columns in the dataframe to see the current number of observations.

In [333]:
print(df.shape)
print(df2.shape)
print(f"Values Dropped:{df.shape[0]*df.shape[1]-(df2.shape[0]*df2.shape[1])}")

(83, 42)
(77, 17)
Values Dropped:2177

## Group by aircraft name

### Subtask:
Group the dataframe by the 'ACFT_MAKE_NAME' column.

**Reasoning**:
Group the dataframe by the 'ACFT_MAKE_NAME' column as requested by the instructions.

In [334]:
grouped_by_aircraft = df.groupby('ACFT_MAKE_NAME')

## Count aircraft types

### Subtask:
Count the number of occurrences for each aircraft type.

**Reasoning**:
Count the occurrences of each unique value in the `ACFT_MAKE_NAME` column.

In [335]:
aircraft_counts = df['ACFT_MAKE_NAME'].value_counts()
display(aircraft_counts)

ACFT_MAKE_NAME
CESSNA                    23
PIPER                     10
BEECH                      9
MOONEY                     4
BOEING                     3
BELL                       2
SOCATA                     2
LANCAIR                    2
CHAMPION                   2
VANS                       1
GLOBE                      1
GREAT LAKES                1
HUGHES                     1
CHRISTEN                   1
FAIRCHILD                  1
CONSOLIDATED VULTEE        1
SAAB                       1
EMBRAER                    1
ENSTROM                    1
MAULE                      1
PITTS                      1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
GRUMMAN                    1
GULFSTREAM                 1
FLIGHT DESIGN              1
AERO COMMANDER             1
SABRELINER                 1
AERONCA                    1
NORTH AMERICAN             1
Name: count, dtype: int64

In [336]:
df2.isnull().sum()
df2.drop(['PAX_INJ_NONE','MAX_INJ_LVL','FLT_ACTIVITY'],axis=1,inplace=True)
df2.dropna(subset=['ACFT_MAKE_NAME','ACFT_MODEL_NAME','ACFT_DMG_DESC','FSDO_DESC','FLT_CRW_INJ_NONE'], inplace=True)
df2.isnull().sum()

UPDATED             0
ENTRY_DATE          0
LOC_CITY_NAME       0
LOC_STATE_NAME      0
RMK_TEXT            0
EVENT_TYPE_DESC     0
FSDO_DESC           0
REGIST_NBR          0
ACFT_MAKE_NAME      0
ACFT_MODEL_NAME     0
ACFT_DMG_DESC       0
FLT_PHASE           0
FLT_CRW_INJ_NONE    0
EVENT_DATETIME      0
dtype: int64

In [337]:
print(df.shape)
print(df2.shape)
print(f"Values Dropped:{df.shape[0]*df.shape[1]-(df2.shape[0]*df2.shape[1])}")

(83, 42)
(53, 14)
Values Dropped:2744

In [338]:
# Identify unique categories in 'ACFT_DMG_DESC'
categories = df2['ACFT_DMG_DESC'].unique().tolist()

print("Unique categories in 'ACFT_DMG_DESC':")
print(categories)

Unique categories in 'ACFT_DMG_DESC':
['Unknown', 'Minor', 'Substantial', 'Destroyed']

In [339]:
# Create new columns for each category (except the first one to avoid multicollinearity)
for category in categories[1:]:
    col_name = f'ACFT_DMG_DESC_{category}'
    df2[col_name] = 0 # Initialize with zeros

# Populate new columns based on the original 'ACFT_DMG_DESC' column
for index, row in df.iterrows():
    original_category = row['ACFT_DMG_DESC']
    if original_category in categories[1:]:
        col_name = f'ACFT_DMG_DESC_{original_category}'
        df2.at[index, col_name] = 1

# Drop the original 'ACFT_DMG_DESC' column
df2.drop('ACFT_DMG_DESC', axis=1, inplace=True)

df2.columns

Index(['UPDATED', 'ENTRY_DATE', 'LOC_CITY_NAME', 'LOC_STATE_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'ACFT_MAKE_NAME',
       'ACFT_MODEL_NAME', 'FLT_PHASE', 'FLT_CRW_INJ_NONE', 'EVENT_DATETIME',
       'ACFT_DMG_DESC_Minor', 'ACFT_DMG_DESC_Substantial',
       'ACFT_DMG_DESC_Destroyed'],
      dtype='object')